.detalles-conf{
  @include espacioSect();
  &__contenedor{
    @include container();
  }
  &__descripcion{
    margin-top: 15px;
    font-size: 1.1rem;
    text-align: center;
    @include fuente($fuente1);
  }
}
