.titulo{
  text-align: center;
  h2{
    font-size: 1.5rem;
    @include media(tablets){
      font-size: 2rem;
    }
    @include fuente($fuente2);
    &:after{
      content: ' ';
      background-image: url('../img/separador.png');
      width: 100px;
      height: 30px;
      display: block;
      margin: 0 auto;
    }
  }
}