- 
  contadores=
  [
    {
      "id": "1",
      "contador": "6",
      "tipo": "Invitados"
    },
    {
      "id": "2",
      "contador": "15",
      "tipo": "Talleres"
    },
    {
      "id": "3",
      "contador": "3",
      "tipo": "Dias"
    },
    {
      "id": "4",
      "contador": "9",
      "tipo": "Conferencias"
    }
  ]