section.detalles-conf
  .detalles-conf__contenedor
    +TitulosSeccion('La mejor conferencia de diseño web en español')
    p.detalles-conf__descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quaerat reprehenderit aliquam eum earum odit sit, maiores totam, deleniti asperiores commodi voluptatum quibusdam eaque porro iste provident quisquam non vitae.