header.header
  .header__contenedor
    include _redesSociales.pug
    .header__hero
      .header__fechas
        .header__dias
          i(class="fas fa-calendar-alt header__icono-fechas")
          span.header__descri-fechas 10-12 Dic
        .header__ubicacion
          i(class="fas fa-map-marker-alt header__icono-fechas")
          span.header__descri-fechas Ciudad de México
      .header__contenedor-titulo
        h1.header__titulo GdlWebCamp
        h2.header__slogan La mejor conferencia de Diseño web
      