-
  invitados= 
  [
    {
      "nombre": "Rafael",
      "apellido": "Bautista",
      "imagen":"../img/invitado1.jpg"
    },
    {
      "nombre": "shari",
      "apellido": "herrera",
      "imagen":"../img/invitado2.jpg"

    },
    {
      "nombre": "Gregorio",
      "apellido": "Sanchez",
      "imagen":"../img/invitado3.jpg"

    },
    {
      "nombre": "susana ",
      "apellido": "Rivera",
      "imagen":"../img/invitado4.jpg"

    },
    {
      "nombre": "Harold",
      "apellido": "Rivera",
      "imagen":"../img/invitado5.jpg"
    },
    {
      "nombre": "Susan",
      "apellido": "sanchez",
      "imagen":"../img/invitado6.jpg"
    }
  ]