- 
  precios=
  [
    {
      "titulo": "Por dia",
      "tipo": "por-dia",
      "precio": "30",
      "beneficios": ["Bocadillo gratis", "Todas las conferencias", "Todos los talleres"]
    },
    {
      "titulo": "Todos los días",
      "tipo": "todos-los-dias",
      "precio": "50",
      "beneficios": ["Bocadillo gratis", "Todas las conferencias", "Todos los talleres"]
    },
    {
      "titulo": "Por 2 dias",
      "tipo": "por-2-dias",
      "precio": "45",
      "beneficios": ["Bocadillo gratis", "Todas las conferencias", "Todos los talleres"]
    }
  ]