.redes
  .redes__contenedor
    .redes__contenedor-iconos
      a(href="") 
          i(class="fab fa-facebook-square redes__icono")
      a(href="") 
          i(class="fab fa-twitter-square redes__icono")
      a(href="") 
          i(class="fab fa-pinterest-square redes__icono")
      a(href="") 
          i(class="fab fa-youtube-square redes__icono")
      a(href="") 
          i(class="fab fa-instagram redes__icono")