-
	testimoniales=
	[
		{
			'comentario': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto maiores necessitatibus facilis ratione. Facilis.',
			'nombre': 'Oswaldo Aponte Escobedo',
			'puesto': 'Diseñador en @prisma',
			'imagen': 'img/testimonial.jpg'
		},
		{
			'comentario': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto maiores necessitatibus facilis ratione. Facilis.',
			'nombre': 'Oswaldo Aponte Escobedo',
			'puesto': 'Diseñador en @prisma',
			'imagen': 'img/testimonial.jpg'
		},
		{
			'comentario': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto maiores necessitatibus facilis ratione. Facilis.',
			'nombre': 'Oswaldo Aponte Escobedo',
			'puesto': 'Diseñador en @prisma',
			'imagen': 'img/testimonial.jpg'
		}
	]